.hero {
  height: calc(100vh - 63px);
  &__logo{
     &:nth-of-type(2) {
      animation: float 4000ms infinite;
    }
    &:nth-of-type(3) {
      animation: float 4900ms infinite;
    }
    &:nth-of-type(4) {
      animation: float 4300ms infinite;
    }
    &:nth-of-type(5) {
      animation: float 4700ms infinite;
    }
    &:nth-of-type(6) {
      animation: float 5000ms infinite;
    }
    &:nth-of-type(7) {
      animation: float 5800ms infinite;
    }
    &:nth-of-type(8) {
      animation: float 5200ms infinite;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

