@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    font-size: 62.5%;
    color: var(--color-black);
    font-family: 'Manrope', sans-serif;
    background-color: #f5f5f5;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1600px;
  }
}
