@import "tailwindcss";

@theme {
    --color-main: #ef898b;
    --color-black: #160606;
    --color-white: #ffffff;
    --color-main-dark: #b36667;

   /* Hero Section */
    --text-hero: clamp(2.5rem, 2rem + 4vw, 5rem);          /* Main headline */
    --text-hero-sub: clamp(1.25rem, 1rem + 1vw, 2rem);     /* Subheadline/tagline */
    
    /* Headings */
    --text-h1: clamp(2rem, 1.5rem + 2.5vw, 3.5rem);        /* Page titles */
    --text-h2: clamp(1.75rem, 1.25rem + 2vw, 3rem);        /* Section titles */
    --text-h3: clamp(1.5rem, 1rem + 1.1vw, 2.5rem);        /* Subsection titles */
    --text-h4: clamp(1.25rem, 1rem + 0.5vw, 2rem);           /* Small headings */
    
    /* Body Text */
    --text-body-lg: clamp(1.125rem, 1rem + 0.5vw, 1.5rem); /* Large paragraphs/intros */
    --text-body: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);   /* Regular body text */
    --text-body-sm: clamp(0.875rem, 0.75rem + 0.5vw, 1rem); /* Small text/captions */
    
    /* Navigation */
    --text-nav-desktop: clamp(1rem, 1rem + 0.75vw, 3rem);
    --text-nav-mobile: clamp(1.5rem, 1rem + 1vw, 1.75rem);
    
    /* Buttons/CTAs */
    --text-button-lg: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
    --text-button: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);

    /* Width */
    --width-logos: clamp(2rem, 2rem + 3vw, 10rem );
}